<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Calendar App</title>
</head>

<body style="background:#000;margin:60px">

    <div id="app">
        <table class="table table-dark table-bordered table-striped">
            <thead>
                <tr>
                    <td><b>Calendar</b></td>
                    <td><b>15:10:2018</b></td>
                    <td><b>16:10:2018</b></td>
                    <td><b>17:10:2018</b></td>
                    <td><b>18:10:2018</b></td>
                    <td><b>19:10:2018</b></td>
                    <td><b>20:10:2018</b></td>
                    <td><b>21:10:2018</b></td>
                </tr>
            </thead>
            
            <tbody>
                
                <tr v-for="(value,index) in days.hours">
                    <td>
                       <b>{{value.hour}}</b> 
                    </td>
                   <td v-for="day in days.calendar">
                       
                       <button v-if="day.days[index].event" v-on:click="getDate(day.days[index].day,day.days[index].hour)" class="btn btn-circle btn-sm btn-outline-secondary">Remove Event</button>
                       <button v-else="day.days[index].event" v-on:click="getDate(day.days[index].day,day.days[index].hour)" class="btn btn-sm btn-outline-light">Add Event</button>
                       <!--{{day.days[index].hour}}-->
                   </td>
                    
                </tr>
            </tbody>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js"></script>


</body>

</html>